# Comandos Auxiliares

## Leitura o Arquivo

In [21]:
# Função de Leitura do Arquivo
import pandas as pd

def read_file(file):
    return pd.read_csv(file)

# Conteúdos estão em uma lista
df = read_file('aula_1.csv')

In [22]:
df.sample(5)

      id first_name  gender  age  married  recently_bought
473  474     Gretta    Male   76     True            False
529  530      Louis    Male   55    False             True
319  320      Aimil    Male   51     True             True
254  255    Shawnee  Female   38     True             True
99   100      Eddie  Female   52     True            False

# Intodução à Lógica de Programação

## Problemas

Dentro da nossa base de dados, selecione os clientes que forem maiores de 18 anos e menores de 65 anos. Desses clientes, eu quero que você selecione todas as mulheres, pois o marketing quer enviar um voucher de 10% para elas. Depois, selecione somente os homens que forem casados, caso não sejam casados, selecione somente os que tiverem feito uma compra no último mês na loja, porque eu quero enviar um voucher de 10% em alguns produtos selecionados. Esses clientes selecionados serão os alvos da nossa campanha de dia das Mulheres.

* Problema 1: Selecionar os clientes com idades entre 18 e 65 anos.
    * Parte 1.1: Selecionar os clientes com idade maior que 18 anos
    
    * Parte 1.2: Selecionar os clientes com idade menor que 65 anos


* Problema 2: Selecionar os clientes que são mulheres.


* Problema 3: Selecionar os clientes que são homens e que são casados, ou os homens que não são casados mas que compraram na loja no último mês.
    * Parte 3.1: Selecionar os clientes que são homens
    * Parte 3.2: Selecionar os clientes que são casados
    * Parte 3.3: Selecionar os clientes que compraram na loja no último mês

## Solução

In [47]:
# Respostas
mulheres = []
homens = []

<class 'list'>

In [37]:
# Versão Inicial
# for index, row in df.iterrows():
#     print(row)
#     break

id                       1
first_name         Kynthia
gender              Female
age                     59
married              False
recently_bought       True
Name: 0, dtype: object

In [55]:
idade = 19
a = not( idade >= 18 )
b = idade <= 65

print(f'O valor de A = {a}')
print(f'O valor de B = {b}')

O valor de A = False
O valor de B = True

In [54]:
if(a and b):
    print('verdadeiro')
else:
    print('falso')

falso

In [39]:
# Versão Inicial
for index, row in df.iterrows():
    # Condicionais aqui
    
    # Maiores que 18 anos
    if(row['age'] >= 18 and row['age'] <= 65):
            
            # Mulheres
            if(row['gender'] == 'Female'):
                mulheres.append(row) 
            
            else: # Homens
                # Homens casados
                if(row['married'] == True):
                    homens.append(row)
                    
                # Homens não casado mas que fizeram compra
                elif (row['recently_bought'] == True):
                    homens.append(row)

In [39]:
# Versão Inicial
for index, row in df.iterrows():
    # Condicionais aqui
    # Maiores que 18 anos
    if(row['age'] >= 18):
        
        # Menores que 65 anos
        if(row['age'] <= 65):
            
            # Mulheres
            if(row['gender'] == 'Female'):
                mulheres.append(row)
                # comando 2
                # comando 3    
            
            else: # Homens
                # Homens casados
                if(row['married'] == True):
                    homens.append(row)
                    
                # Homens não casado mas que fizeram compra
                elif (row['recently_bought'] == True):
                    homens.append(row)

In [40]:
mulheres[0]

id                       1
first_name         Kynthia
gender              Female
age                     59
married              False
recently_bought       True
Name: 0, dtype: object

In [41]:
homens[0]

id                       5
first_name         Chrissy
gender                Male
age                     26
married               True
recently_bought      False
Name: 4, dtype: object

# Exemplo do IF

## Estrutura De Teste

In [5]:
lista_clientes = [
    {'id': 1,  'name': 'Pedro',     'gender': 'M', 'age': 32, 'married': True,  'recently_bought': True},
    {'id': 2,  'name': 'Guilherme', 'gender': 'M', 'age': 23, 'married': False, 'recently_bought': True},
    {'id': 3,  'name': 'Volpato',   'gender': 'M', 'age': 85, 'married': True,  'recently_bought': False},
    {'id': 4,  'name': 'Ferraresi', 'gender': 'M', 'age': 83, 'married': False, 'recently_bought': False},
    {'id': 5,  'name': 'Ana',       'gender': 'F', 'age': 29, 'married': True,  'recently_bought': True},
    {'id': 6,  'name': 'Carolina',  'gender': 'F', 'age': 92, 'married': False, 'recently_bought': False},
    {'id': 7,  'name': 'Curvina',   'gender': 'F', 'age': 44, 'married': False, 'recently_bought': False},
    {'id': 8,  'name': 'Ubaldo',    'gender': 'F', 'age': 72, 'married': False, 'recently_bought': False},
    {'id': 9,  'name': 'João',      'gender': 'M', 'age': 28, 'married': False, 'recently_bought': True},
    {'id': 10, 'name': 'Gabriel',   'gender': 'M', 'age': 82, 'married': True,  'recently_bought': True},
]

In [4]:
for cliente in lista_clientes:
    if (cliente['id'] == 1):
        print(cliente)
        break

{'id': 1, 'name': 'Pedro', 'gender': 'M', 'age': 32, 'married': True, 'recently_bought': True}

## Exemplos

### Selecione o cliente caso o nome dele seja Pedro

In [9]:
resposta =[]

for cliente in lista_clientes:
    # Condicional aqui
    if ():
        resposta.append(cliente)

In [ ]:
resposta

### Selecione o cliente caso a idade dele seja maior que 30 anos

In [ ]:
resposta =[]

for cliente in lista_clientes:
    # Condicional aqui
    if ():
        resposta.append(cliente)

In [ ]:
resposta

### Selecione os clientes que tenham comprado recentemente

In [ ]:
resposta =[]

for cliente in lista_clientes:
    # Condicional aqui
    if ():
        resposta.append(cliente)

In [ ]:
resposta

### Selecione os clientes que sejam mulheres e homens em listas separadas

In [ ]:
mulheres = []
homens = []

for cliente in lista_clientes:
    # Condicional aqui

In [ ]:
homens

In [ ]:
mulheres

### Faça a seguinte seleção

Selecione os clientes que são casado e não casados. 
* Dos que são casados, selecione os que compraram e os que não compraram recentemente na loja. 
* Dos não casasdos, separe os que são homens. 
    * Dos homens separados, selecione os que tem idade maior que 35 anos
    * Dos homens separados que não tem idade maior que 35 anos, separe o cliente que tem o nome de Pedro

In [ ]:
# respostas
casados = []
nao_casados = []
compraram = []
nao_compraram = []
maior_35 = []
pedro = []

In [ ]:
for cliente in lista_clientes:
    # Condicional aqui

In [ ]:
casados

In [ ]:
nao_casados

In [ ]:
compraram

In [ ]:
nao_compraram

In [ ]:
maior_35

In [ ]:
pedro

# Operadores em Python

## Operadores Aritméticos e Relacionais

### Operadores Aritméticos

In [1]:
a = 5
b = 2

In [2]:
# Soma
result = a + b
print(result)
print(type(result))

7
<class 'int'>

In [3]:
# Subtração
result = a - b
print(result)
print(type(result))

3
<class 'int'>

In [5]:
# Multiplicação
result = a * b
print(result)
print(type(result))

10
<class 'int'>

In [6]:
# Potenciação
result = a ** b
print(result)
print(type(result))

25
<class 'int'>

In [7]:
# Divisão
result = a / b
print(result)
print(type(result))

2.5
<class 'float'>

In [8]:
# Divisão inteira
result = a // b
print(result)
print(type(result))

2
<class 'int'>

In [9]:
# Resto da Divisão
result = a % b
print(result)
print(type(result))

1
<class 'int'>

### Operadores Relacionais

In [10]:
a = 5
b = 2

In [11]:
# Maior que
print(a > b)

True

In [15]:
# Maior ou igual que
print(a >= b)

True

In [16]:
# Menor que
print(a < b)

False

In [17]:
# Menor ou igual que
print(a > b)

True

In [18]:
# Igualdade
print(a == b)

False

In [20]:
# Diferença
print(a != b)

True

## Operadores Lógicos

Utilizando a lista criada no exemplo do *if* (conform abaixo), selecione os clientes com base no pedido

```python
lista_clientes = [
    {'id': 1,  'name': 'Pedro',     'gender': 'M', 'age': 32, 'married': True,  'recently_bought': True},
    {'id': 2,  'name': 'Guilherme', 'gender': 'M', 'age': 23, 'married': False, 'recently_bought': True},
    {'id': 3,  'name': 'Volpato',   'gender': 'M', 'age': 85, 'married': True,  'recently_bought': False},
    {'id': 4,  'name': 'Ferraresi', 'gender': 'M', 'age': 83, 'married': False, 'recently_bought': False},
    {'id': 5,  'name': 'Ana',       'gender': 'F', 'age': 29, 'married': True,  'recently_bought': True},
    {'id': 6,  'name': 'Carolina',  'gender': 'F', 'age': 92, 'married': False, 'recently_bought': False},
    {'id': 7,  'name': 'Curvina',   'gender': 'F', 'age': 44, 'married': False, 'recently_bought': False},
    {'id': 8,  'name': 'Ubaldo',    'gender': 'F', 'age': 72, 'married': False, 'recently_bought': False},
    {'id': 9,  'name': 'João',      'gender': 'M', 'age': 28, 'married': False, 'recently_bought': True},
    {'id': 10, 'name': 'Gabriel',   'gender': 'M', 'age': 82, 'married': True,  'recently_bought': True},
]
```

### 1. Operador E (AND) - Selecione os clientes que sejam casados E que tenham comprado recentemente na loja

In [ ]:
resposta_1 = []

for cliente in lista_clientes:
    # Condicional aqui
    if ():
        resposta_1.append(cliente)

In [ ]:
resposta_1

### 2. Operador OU (OR) - Selecione os clientes que não sejam casados OU que sejam mulheres

In [ ]:
resposta_2 = []

for cliente in lista_clientes:
    # Condicional aqui
    if ():
        resposta_2.append(cliente)

In [ ]:
resposta_2

### 3. Operador de Negação (NOT) - Utilizando o operador de Negação, selecione os clientes que são mulheres e não são casados

In [ ]:
resposta_3 = []

for cliente in lista_clientes:
    # Condicional aqui
    if ():
        resposta_3.append(cliente)
        
reposta_3